<h1>PEOPLE</h1>

<div class="addPerson">
<%= link_to 'Add Person', new_person_path %><br>
</div><br>

<% @people.each do |person| %>
    <%= link_to person.name, person %><br>
<% end %>


<style>

.addPerson{
    font-size: 20px;
    color: Green;
    border: 1px red solid;
    width: 144px;
    font-family: "Times New Roman", Times, serif;
    
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

</style>